body {
    margin: 16px;
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

a:not([href]):not([class]) {
    color: #007bff;
}

a {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.classSearchSection {
    margin-bottom: 15px;
}

.header {
    margin-bottom: 20px;
}

.classSearch {
    width: 100%;
    float: left;
}
.filter-box{
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border: 1px solid #e7e7e7;
    padding: 10px;
}
