<html>

<head>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <title>WikiData Browser</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WikiData Browser</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" id="app">

        <class-filter
            @change-page="updatePage"
            @class-label="updateClassValue"
            v-if="view == 'class-filter'"
            :class-value="classValue"
            :class-label="classLabel">
        </class-filter>

        <view-all-items
            @change-page="updatePage"
            @remove-filter="removeFilter"
            v-if="view =='view-all-items'"
            :total-values="totalValues"
            :class-label="classLabel"
            :class-value="classValue"
            :key="allItemscomponentKey"
            :applied-filters="appliedFilters">
        </view-all-items>

        <filters-view 
            @change-page="updatePage"
            @update-filter="updateFilter"
            v-if="view =='filters-view'"
            :total-values="totalValues"
            :class-label="classLabel"
            :class-value="classValue"
            :applied-filters="appliedFilters">
        </filters-view>

        <filter-values 
            @change-page="updatePage"
            @apply-filter="applyFilter" 
            @remove-filter="removeFilter"
            v-if="view =='filter-values'" 
            :key="filterscomponentKey"
            :total-values="totalValues"
            :class-label="classLabel"
            :class-value="classValue"
            :current-Filter="currentFilter"
            :applied-filters="appliedFilters">
        </filter-values>

        <subclass-view
            @change-page="updatePage"
            @update-class="updateClassValue"
            v-if="view =='subclass-view'" 
            :class-label="classLabel"
            :class-value="classValue"
            :current-Filter="currentFilter" 
            :applied-filters="appliedFilters">
        </subclass-view>

        <superclass-view
            @change-page="updatePage"
            @update-class="updateClassValue"
            v-if="view =='superclass-view'" 
            :class-label="classLabel"
            :class-value="classValue"
            :current-Filter="currentFilter" 
            :applied-filters="appliedFilters">
        </superclass-view>
        
    </div>
    <script src="src/index.js"></script>
</body>

</html>