<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <title>Wikidata Browser</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href=".">Wikidata Browser</a>
            </div>
        </div>
    </nav>
    <div class="container" id="app">

        <class-filter
            @change-page="updatePage"
            @class-label="updateClassValue"
            v-if="view == 'class-filter'"
            :class-value="classValue"
            :class-label="classLabel">
        </class-filter>

        <view-all-items
            @change-page="updatePage"
            @remove-filter="removeFilter"
            @remove-range="removeRange"
            @remove-quantity="removeQuantity"
            @update-filter="updateFilter"
            v-if="view =='view-all-items'"
            :total-values="totalValues"
            :class-label="classLabel"
            :class-value="classValue"
            :key="allItemscomponentKey"
            :applied-filters="appliedFilters"
            :applied-ranges="appliedRanges"
            :applied-quantities="appliedQuantities">
        </view-all-items>

        <filters-view 
            @change-page="updatePage"
            @update-filter="updateFilter"
            v-if="view =='filters'"
            :total-values="totalValues"
            :class-label="classLabel"
            :class-value="classValue"
            :applied-filters="appliedFilters"
            :applied-ranges="appliedRanges"
            :applied-quantities="appliedQuantities">
        </filters-view>

        <filter-values 
            @change-page="updatePage"
            @apply-filter="applyFilter"
            @apply-range="applyRange" 
            @apply-quantity="applyQuantityRange" 
            @remove-filter="removeFilter"
            @remove-range="removeRange"
            @remove-quantity="removeQuantity"            
            v-if="view =='filter-values'" 
            :key="filterscomponentKey"
            :total-values="totalValues"
            :class-label="classLabel"
            :class-value="classValue"
            :current-filter="currentFilter"
            :applied-filters="appliedFilters"
            :applied-ranges="appliedRanges"
            :applied-quantities="appliedQuantities">
        </filter-values>

        <subclass-view
            @change-page="updatePage"
            @update-class="updateClassValue"
            v-if="view =='subclass'" 
            :class-label="classLabel"
            :class-value="classValue"
            :applied-filters="appliedFilters"
            :applied-ranges="appliedRanges"
            :applied-quantities="appliedQuantities">
        </subclass-view>

        <superclass-view
            @change-page="updatePage"
            @update-class="updateClassValue"
            v-if="view =='superclass'" 
            :class-label="classLabel"
            :class-value="classValue"
            :applied-filters="appliedFilters"
            :applied-ranges="appliedRanges"
            :applied-quantities="appliedQuantities">
        </superclass-view>
        
    </div>
    <script src="src/index.js"></script>
</body>

</html>